body {
    margin: 0;
    padding: 10px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(42, 42, 42);
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 48px;
    padding: 10px;
    border: 2px solid forestgreen;
    background-color: rgb(0, 31, 5);
    color: whitesmoke;
    border-radius: 20px;
    transition: box-shadow 0.4s linear;
}

h1:hover {
    box-shadow: 2px 2px 5px white;
    cursor: pointer;
}

